
.dropdown-item, .nav-link {
  color: #666777;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.dropdown-item:hover, .nav-link:hover {
  background-color: rgba(102, 16, 242, 0.1);
  color: #000;
}

.dropdown-item::after, .nav-link::after {
  content: '';
  position: absolute;
  left: 100%;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: indigo;
  border-radius: 8px;
  transition: left 0.3s ease-in-out;
}

.dropdown-item:hover::after, .nav-link:hover::after {
  left: 0;
}

.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: indigo;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
